.astronaut {
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translate(0);
  }
}

.stars__wrapper {
  position: relative;
}

.stars {
  position: absolute;
  -webkit-animation: opacity 5s linear infinite;
  animation: opacity 5s linear infinite;
  z-index: -1;
  width: 30px;
  height: 30px;

  &--1 {
    left: 5%;
    top: 0%;
  }

  &--2 {
    right: 10%;
    bottom: 18%;
    animation-delay: 2s;
  }

  &--3 {
    right: 10%;
    top: 5%;
    animation-delay: 0.5s;
  }
  &--4 {
    width: 20px;
    height: 20px;
    left: 5%;
    bottom: 40%;
    animation-delay: 0.5s;
  }
  &--5 {
    width: 20px;
    height: 20px;
    top: 30%;
    left: 20%;
    animation-delay: 1s;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
