.astronaut{
    display: inline-block;
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0%{
        transform: translate(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translate(0);
    }
}



.stars__wrap {
    position: relative;
  }
  
  .star-1 {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 35%;
    top: 25%;
    -webkit-animation: opacity 5s linear infinite;
            animation: opacity 5s linear infinite;
            z-index: -1;
  }

  @keyframes opacity {
    0% {
      opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
