.astronaut {
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translate(0);
  }
}

.stars__wrapper {
  position: relative;
}

.stars {
  position: absolute;
  -webkit-animation: opacity 5s linear infinite;
  animation: opacity 5s linear infinite;
  z-index: -1;
  width: 30px;
  height: 30px;

  &--1 {
    left: 5%;
    top: 0%;
  }

  &--2 {
    right: 10%;
    bottom: 18%;
    animation-delay: 2s;
  }

  &--3 {
    right: 10%;
    top: 5%;
    animation-delay: 0.5s;
  }
  &--4 {
    width: 20px;
    height: 20px;
    left: 5%;
    bottom: 40%;
    animation-delay: 0.5s;
  }
  &--5 {
    width: 20px;
    height: 20px;
    top: 30%;
    left: 20%;
    animation-delay: 1s;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.spaceship {
  position: absolute;
  animation: linear infinite running;
  animation-name: fly-sm;
  animation-duration: 5s;

  @media (min-width: 576px) {
    animation-duration: 15s;
    animation-name: fly-lg;
  }
}
@keyframes fly-sm {
  0% {
    right: 0;
    transform: translateY(20%);
  }
  100% {
    right: 100%;
    transform: translateY(20%);
  }
}
@keyframes fly-lg {
  0% {
    right: 0;
    transform: translateY(20%);
  }
  25% {
    transform: translateY(20%);
  }
  40% {
    transform: translateY(-30%);
  }
  70% {
    transform: translateY(20%);
  }
  100% {
    right: 100%;
    transform: translateY(20%);
  }
}
