$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
  scroll-behavior: smooth;

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: $tertiary;
  background-color: $primary;
}

a {
  color: $secondary;
  text-decoration: none;
  text-transform: uppercase;
}

.horizontal-line {
  background: rgb(0, 204, 204);
  background: radial-gradient(
    circle,
    rgba(229, 255, 255, 1) 0%,
    rgba(2, 25, 51, 1) 100%
  );
  width: 80%;
  height: 2px;
  margin: 5rem auto;
  display: block;
}

.has-mg {
  margin-top: 0rem;
  margin-bottom: 0rem;
  @media (min-width: 576px) {
    margin-top: 11rem;
    margin-bottom: 10rem;
  }
}

.skip-nav-link {
  position: absolute;
  transform: translateY(-120%);
  background-color: $secondary;
  border: 4px solid $secondary;
  color: $tertiary;
  padding: 1.7rem;
  z-index: 200;
  font-weight: bold;
  left: 11rem;
  transition: transform 325ms ease-in;

  &:focus {
    transform: translateY(0);
  }
}

.footer__wrapper {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-bottom: 20px;

  @media (min-width: 576px) {
    height: 15vh;
    padding-bottom: 20px;
    align-items: end;
  }
}
