.btn {
  color: $tertiary;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0;
  border: 2px solid $secondary;
  overflow: hidden;

  &:hover,
  &:focus {
    color: $tertiary;
  }

  &--primary {
    position: relative;
    // transition: all 1s;
    @media (min-width: 576px) {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -20px;
        width: 0;
        height: 100%;
        background-color: $secondary;
        transform: skewX(35deg);
        z-index: -1;
        transition: width 1s;
      }

      &:hover::before {
        width: 150%;
      }
    }
   

  }

  &--secondary {
    border: 2px solid $tertiary;
    background-color: transparent;
  }

  &--lg {
    padding: 1rem 1rem;
  }

  &--same-size{
    width: 11%;
  }

  &--load{
    width: 75%;
  }
  @media (max-width: 575px) {
    &--same-size{
      width: 33%;
    }
  }
}


